.signout1 {
  margin: 0 auto;
}

.home {
  width: 100%;
  margin: 0 auto;
}
.title {
  display: flex;
  margin-top: 1em;
  margin-bottom: 0.5em;
  justify-content: center;
}
.TabDiv {
  width: 90%;
  margin: 0 auto;
}
